@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
   --primary: #fe2c55;
   --black: #000;
   --text-color: #161823;
   --white: #fff;

   //default layout

   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --defalt-layout-horizontal-spacer: 24px;
}

html {
   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
   color: var(--text-color);
}

button,
input,
[tabindex] {
   outline: none;
   border: none;
}

a[href] {
   color: var(--text-color);
   text-decoration: none;
}

//custom tipy tooltip

body {
   .tipy-box {
      border: 8px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      background-color: rgba(84, 84, 84, 0.92);
   }

   .tipy-content {
    padding: 8px 9px;
   }
   
   .tipy-arrow {
    color: rgba(84, 84, 84, 0.92);

   }
}
