//menu wrapper
.menu-list {
   width: 224px;

   .menu-item {
      margin-left: 0;
   }
}

.menu-popper {
   padding-bottom: 8px;
   width: 240px;
}

//menu items

.menu-item {
   width: 100%;
   justify-content: flex-start;
   border-radius: 0;
   padding: 11px 16px;
   font-weight: 600;
   line-height: 1.8rem;

   &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
   }

   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
   }
}

//header

.header {
   position: relative;
   height: 50px;
   margin-top: -8px;
}
.back-btn {
   width: 50px;
   height: 100%;
   background-color: transparent;
   cursor: pointer;
}
.header-title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
