.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    padding: 0 var(--defalt-layout-horizontal-spacer);
    display: flex;
}

.content {
    flex: 1;
}
